* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* container */

.container {
    font-family: 'Fredoka', sans-serif;
    width: 70%;
    margin: 10px auto;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    color: rgb(229, 49, 112);
}

#title-description {
    text-align: center;
}

/* rows */

.row::after {
    content: "";
    display: table;
    clear: both;
}

.row {
    margin: 30px 0;
}

/* cards */

.card {
    background-color: rgb(15, 14, 23);
    width: calc(100% / 3 - 20px);
    height: 100px;
    float: left;
    margin: 0px 10px;
}