* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* container */

.container {
    font-family: 'Fredoka', sans-serif;
    width: 80%;
    margin: 10px auto;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    color: rgb(229, 49, 112);
}

#title-description {
    text-align: center;
}

/* rows */

.row::after {
    content: "";
    display: table;
    clear: both;
}

.row {
    margin: 30px 0;
}

/* cards */

.card {
    background-color: rgb(15, 14, 23);
    width: calc(100% / 3 - 20px);
    float: left;
    margin: 0px 10px;
}

.foto-profilo {
    width: 30%;
    float: left;
}

.foto-profilo img {
    width: 100%;
}

.personal-info {
    padding: 15px 0px 15px 35%;
}

.name, .role {
    color: white;
}

.mail {
    color: skyblue;
}

.personal-info > * {
    margin: 5px 0;
}